<header>
    <div class="container-fluid top-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pd-40">
                            <img src="images/logo64.ico" class="img-responsive img-circle ds-inline" alt="Image">
                            <p class="ds-inline h2"> &nbsp;&nbsp;天空之城的博客</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <p class="pull-left">
                    <a href="http://yake987.github.io" class="navbar-link text-primary fs-16">首页</a>&nbsp;
                    <a href="#" class="navbar-link text-primary fs-16">文章列表</a>&nbsp;
                    <a href="http://yake987.github.io/article/index.html" class="navbar-link text-primary fs-16">关于我</a>
                </p>
            </div>
        </div>
    </div>
</header>
